<?php 
$params = []; 
$data = $block->getUserData();
?>

<form name="senddata" action="<?php echo $this->getUrl("operation/form/index",$params);?>" method="POST">

<?php if(!empty($data)){ ?>
<input type="hidden" name="excellence_operation_crud_id" value="<?php echo $data['excellence_operation_crud_id'];?>" >
<?php } ?>

Name: <input required="true" class="input-text admin__control__text" type="text" name="name" value="<?php if($data)echo $data['name'];?>" ><br/>

Email: <input required="true" class="input-text admin__control__text" type="text" name="email" value="<?php if($data)echo $data['email']; ?>" ><br/>

Address:<textarea required="true" class = "input-text admin__control__text" name="address" cols=40  rows=3><?php if($data)echo $data['address']; ?>
</textarea>

<input type="submit" name="send_data" class="action submit_form_action subscribe primary ui-button-text" value=<?php if($data)echo "Update";else echo "Register" ;?> ><br/>

</form>

<?php 
        $block->unregisterData();
 ?>
<h1>GIT UPDATED</h1>