<?php 
	$collections=$block->information();
	$id=0;
    $i=0;
?>


<a href=<?php echo $this->getUrl("operation/form/index/"); ?> class="user_add_link level-top ui-corner-all" id="ui-id-3" tabindex="-1" role="menuitem"><span>ADD NEW USER</span></a>

<table class="user_table">
  <tr class="user_table">
    <th class="user_table">Id</th>
    <th class="user_table">Name</th>
    <th class="user_table">Email</th> 
    <th class="user_table">Address</th>
    <th class="user_table">Status</th>
    <th class="user_table">Action</th>
  </tr>
<?php foreach($collections as $collection){?>
  <tr class="user_table">s
    <td class="user_table"><?php echo $id; //echo $id;?></td>
    <td class="user_table"><?php echo $collection['name'];?></td>
    <td class="user_table"><?php echo $collection['email'];?></td>
    <td class="user_table"><?php echo $collection['address'];?></td>
    <td class="user_table"><?php if($collection['is_active']==1){echo "Active";}else{echo "Deactive";}?></td>
    <td class="actions user_table"><div class="actions">
                <button class="action submit_action subscribe primary" title="Edit" type="submit">
                    <a href=<?php echo $this->getUrl('operation/form/index/id=.', array('id' => $collection['excellence_operation_crud_id'])); ?> class="user_edit_link level-top ui-corner-all" id="ui-id-3" tabindex="-1" role="menuitem"><span>Edit</span></a>
                </button>
            </div>
            <div class="actions" id="deletediv<?php echo $i; ?>">
                <button class="action delete_action subscribe primary" title="Delete" type="submit">
                    <a href=<?php echo $this->getUrl('operation/form/index/id=.', array('delete_id' => $collection['excellence_operation_crud_id'])); ?> class="user_edit_link level-top ui-corner-all" id="ui-id-3" tabindex="-1" role="menuitem"><span>Delete</span></a>
                </button>
            </div>
    </td>
    <?php $id++; $i++; ?>
  </tr>
<?php } ?>
</table>
<div id="element">
    <div data-role="collapsible">
        <div data-role="trigger">
            <span>Title 1</span>
        </div>
    </div>
    <div data-role="content">Content 1</div>

    <div data-role="collapsible">
        <div data-role="trigger">
            <span>Title 2</span>
        </div>
    </div>
    <div data-role="content">Content 2</div>

    <div data-role="collapsible">
        <div data-role="trigger">
            <span>Title 3</span>
        </div>
    </div>
    <div data-role="content">Content 3</div>
</div>

<script>
 require([
    'Magento_Ui/js/modal/alert'
], function(alert) { // Variable that represents the `alert` function
 
    alert({
        title: 'Some title',
        content: 'Some content',
        actions: {
            clickableOverlay: function(){}
        }
    });
 
});
</script>

<!-- <div id="testdiv">
    <a>Test anchor tag</a>
</div>
 
<?php
//$formData = [
   // 'divElement'       =>  '#deletediv2',
];
//$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>
<script type="text/x-magento-init">
    {
        "*": {
            "wktestrequire": <?php /* @noEscape */ //echo $serializedFormData; ?>
        }
    }
</script> -->