/*@media (min-width: 768px){
body.operation-operation-index{*/

   table{
      width:100%;
   }

   table, th, td {
    border: 1px solid rgb(192,192,192);
    border-collapse: collapse;
   }

   a.user_add_link{
     float:  right; 
     margin-right: 14%;
   }
	
	a.user_edit_link{
	 color:#fff;
	}
/* }
}*/